<template name="dashboard1">
	<div class="template-dashboard">
		<div class="container">
			<div class="row" id="champion-messages">
				<div class="col-md-3">
					{{> addPost}}
					{{> favoritesSidebar}}
				</div>
				<div class="col-md-9">
					{{> posts}}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="dashboard">
	<div class="template-dashboard">
		<!-- Header -->
		<div id="header">

			<div class="top">

				<!-- Logo -->
				<div id="logo">
					<span class="image avatar48"><img src="images/avatar.jpg" alt="" /></span>
					<h1 id="title">Jane Doe</h1>
					<p>Hyperspace Engineer</p>
				</div>
				{{> nav}}


			</div>

			<div class="bottom">

				<!-- Social Icons -->
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>

			</div>

		</div>

		<!-- Main -->
		<div id="main">

			<!-- Intro -->
			<section id="top" class="one dark cover">
				<div class="container">

					<header>
						<h2 class="alt">Hi! I'm <strong>Prologue</strong>, a <a href="http://html5up.net/license">free</a> responsive<br />
							site template designed by <a href="http://html5up.net">HTML5 UP</a>.</h2>
							<p>Ligula scelerisque justo sem accumsan diam quis<br />
								vitae natoque dictum sollicitudin elementum.</p>
							</header>

							<footer>
								<a href="#portfolio" class="button scrolly">Magna Aliquam</a>
							</footer>

						</div>
					</section>

					<!-- Portfolio -->
					<section id="portfolio" class="two">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							<p>Vitae natoque dictum etiam semper magnis enim feugiat convallis convallis
								egestas rhoncus ridiculus in quis risus amet curabitur tempor orci penatibus.
								Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis
								fusce hendrerit lacus ridiculus.</p>

								<div class="row">
									<div class="4u 12u$(mobile)">
										<article class="item">
											<a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
											<header>
												<h3>Ipsum Feugiat</h3>
											</header>
										</article>
										<article class="item">
											<a href="#" class="image fit"><img src="images/pic03.jpg" alt="" /></a>
											<header>
												<h3>Rhoncus Semper</h3>
											</header>
										</article>
									</div>
									<div class="4u 12u$(mobile)">
										<article class="item">
											<a href="#" class="image fit"><img src="images/pic04.jpg" alt="" /></a>
											<header>
												<h3>Magna Nullam</h3>
											</header>
										</article>
										<article class="item">
											<a href="#" class="image fit"><img src="images/pic05.jpg" alt="" /></a>
											<header>
												<h3>Natoque Vitae</h3>
											</header>
										</article>
									</div>
									<div class="4u$ 12u$(mobile)">
										<article class="item">
											<a href="#" class="image fit"><img src="images/pic06.jpg" alt="" /></a>
											<header>
												<h3>Dolor Penatibus</h3>
											</header>
										</article>
										<article class="item">
											<a href="#" class="image fit"><img src="images/pic07.jpg" alt="" /></a>
											<header>
												<h3>Orci Convallis</h3>
											</header>
										</article>
									</div>
								</div>

							</div>
						</section>

						<!-- About Me -->
						<section id="about" class="three">
							<div class="container">

								<header>
									<h2>About Me</h2>
								</header>

								<a href="#" class="image featured"><img src="images/pic08.jpg" alt="" /></a>

								<p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus
									ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae
									laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem
									parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper
									dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec
									ornare iaculis.</p>

								</div>
							</section>

							<!-- Contact -->
							<section id="contact" class="four">
								<div class="container">

									<header>
										<h2>Contact</h2>
									</header>

									<p>Elementum sem parturient nulla quam placerat viverra
										mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia
										donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc
										orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p>

										<form method="post" action="#">
											<div class="row">
												<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
												<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
												<div class="12u$">
													<textarea name="message" placeholder="Message"></textarea>
												</div>
												<div class="12u$">
													<input type="submit" value="Send Message" />
												</div>
											</div>
										</form>

									</div>
								</section>

							</div>

							<!-- Footer -->
							<div id="footer">

								<!-- Copyright -->
								<ul class="copyright">
									<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
								</ul>

							</div>
						</div>
					</template>

					<template name="addPost">
						<div class="template-add-post">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">{{_ "add_post"}}</h3>
								</div>
								<div class="panel-body">
									{{#autoForm id="add" collection="Posts" type="insert"}}
									{{> afQuickField name="title"}}
									{{> afQuickField name="content"}}
									{{> afQuickField name="picture"}}
									<button type="submit" class="btn btn-primary">{{_ "add_post_btn"}}</button>
									{{/autoForm}}
								</div>
							</div>
						</div>
					</template>

					<template name="posts">
						<div class="template-posts">
							{{#each  posts}}
							{{> post}}
							{{else}}
							{{> noData}}
							{{/each}}
						</div>
					</template>

					<template name="post">
						<div class="template-post">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{title}}
										<span class="pull-right">
											<i class="fa fa-thumbs-up"></i> {{#with favoritesByDoc _id}}{{count}}{{/with}}
											<i class="fa fa-comments"></i> {{commentCount _id}}
										</span>
									</h3>
								</div>
								<div class="panel-body">
									<p class="text-center">
										{{#with getDoc picture 'Attachments'}}
										<img src="{{url}}" class="img-thumbnail img-rounded">
										{{/with}}
									</p>
									<div class="media">
										<a class="pull-left" href="#">
											{{> profileThumb _id=owner}}
										</a>
										<div class="media-body">
											<p>{{content}}</p>
											{{#if $eq owner User._id}}
											<small>
												{{#afModal title="Update post" omitFields="createdAt,updatedAt,owner" class="text-primary" collection="Posts" operation="update" doc=_id}}
												<i class="fa fa-pencil" buttonContent="Edit post"></i> {{_ "edit_post"}}
												{{/afModal}}
												{{#afModal title="Delete post" class="text-danger" collection="Posts" operation="remove" doc=_id}}
												<i class="fa fa-times" buttonContent="Edit post"></i> {{_ "delete"}}
												{{/afModal}}
											</small>
											{{/if}}
										</div>
									</div>
								</div>
								<div class="panel-footer">
									{{> favoriteButton _id=_id}}
									{{> commentFormToggle }}
									{{> comments}}
								</div>
							</div>
						</div>
					</template>

					<template name="favoritesSidebar">
						<div class="template-favorites-sidebar">
							{{#if myFavorites.count}}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">{{_ "favorites"}}</h3>
								</div>
								<div class="panel-body">
									<ul>
										{{#each myFavorites}}
										<li>
											<a>{{_id}}</a>
										</li>
										{{/each}}
									</ul>
								</div>
							</div>
							{{/if}}
						</div>
					</template>
					<template name="nav">
						<!-- Nav -->
						<nav id="nav">
              <!--

                Prologue's nav expects links in one of two formats:

                1. Hash link (scrolls to a different section within the page)

                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                2. Standard link (sends the user to another page/site)

                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

                 -->
                 <ul>
                 	<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
                 	<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
                 	<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">About Me</span></a></li>
                 	<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
                 </ul>
               </nav>
             </template>